In [1]:
import pandas as pd
import numpy as np
import json  
from pandas.io.json import json_normalize

In [2]:
df = pd.read_json('data/customersdata.json',
                  lines=True ,
                  orient='columns')

In [3]:
df.head()

,fraudulent,customer,orders,paymentMethods,transactions
0,False,"{'customerEmail': 'josephhoward@yahoo.com', 'c...","[{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...","[{'paymentMethodId': 'wt07xm68b', 'paymentMeth...","[{'transactionId': 'a9lcj51r', 'orderId': 'vjb..."
1,True,"{'customerEmail': 'evansjeffery@yahoo.com', 'c...","[{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...","[{'paymentMethodId': 'y3xp697jx', 'paymentMeth...","[{'transactionId': '5mi94sfw', 'orderId': 'nlg..."
2,False,"{'customerEmail': 'andersonwilliam@yahoo.com',...","[{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...","[{'paymentMethodId': '8pneoi03z', 'paymentMeth...","[{'transactionId': 'q3lyvbza', 'orderId': 'yk3..."
3,False,"{'customerEmail': 'rubenjuarez@yahoo.com', 'cu...","[{'orderId': 'fbz9ep', 'orderAmount': 34, 'ord...","[{'paymentMethodId': 'pdxjdwui4', 'paymentMeth...","[{'transactionId': 'vx4cjc27', 'orderId': 'fbz..."
4,True,"{'customerEmail': 'uchen@malone.com', 'custome...","[{'orderId': '56h7iw', 'orderAmount': 71, 'ord...","[{'paymentMethodId': 'w1i1zq3rg', 'paymentMeth...","[{'transactionId': 'q8j3dgni', 'orderId': '56h..."

In [4]:
df.keys()

Index(['fraudulent', 'customer', 'orders', 'paymentMethods', 'transactions'], dtype='object')

### List Comprehension

A list comprehension is an easy way to unpack the data

In [5]:
customer_data = pd.DataFrame([md for md in df.customer])

customer_data.head()

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"
3,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM..."
4,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,..."

### Json Normalization

In [6]:
from pandas.io.json import json_normalize
customer_data = json_normalize(data=df.customer)
customer_data.head()

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"
3,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM..."
4,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,..."

In [7]:
orders_data = pd.DataFrame([md for md in df.orders])
orders_data.head()

,0,1,2,3,4,5,6,7
0,"{'orderId': 'vjbdvd', 'orderAmount': 18, 'orde...","{'orderId': 'yp6x27', 'orderAmount': 26, 'orde...",None,None,None,None,None,None
1,"{'orderId': 'nlghpa', 'orderAmount': 45, 'orde...","{'orderId': 'uw0eeb', 'orderAmount': 23, 'orde...","{'orderId': 'bn44oh', 'orderAmount': 43, 'orde...",None,None,None,None,None
2,"{'orderId': 'yk34y2', 'orderAmount': 33, 'orde...","{'orderId': '28v6b0', 'orderAmount': 24, 'orde...","{'orderId': 'itnk8y', 'orderAmount': 25, 'orde...",None,None,None,None,None
3,"{'orderId': 'fbz9ep', 'orderAmount': 34, 'orde...","{'orderId': '7odnn6', 'orderAmount': 26, 'orde...","{'orderId': 'audx7o', 'orderAmount': 25, 'orde...",None,None,None,None,None
4,"{'orderId': '56h7iw', 'orderAmount': 71, 'orde...","{'orderId': 'kowj1v', 'orderAmount': 66, 'orde...","{'orderId': 'wlznfu', 'orderAmount': 69, 'orde...","{'orderId': 'hm3rth', 'orderAmount': 46, 'orde...","{'orderId': 'vvq05w', 'orderAmount': 68, 'orde...","{'orderId': 'xwo0al', 'orderAmount': 59, 'orde...","{'orderId': '2528x8', 'orderAmount': 32, 'orde...",None

In [8]:
# works_data = json_normalize(data = df['orders'],record_path = 'orders', meta =['orderId', 'orderAmount', 'orderState', 'orderShippingAddress']) 
# works_data.head()

### Json Object Load Method

In [9]:
#load json object

# with open('data/customersdata.json') as f:
#    d = json.load(f)

In [10]:
# data = json.dumps(str(df['orders']))
# data['orderId'][0]

#### Export into csv

In [11]:
# export_csv = df.to_csv (r'New_Products.csv', index = None, header=True)

#### Refrences 

- https://towardsdatascience.com/lots-of-json-29873d3abfdf