<a href="https://colab.research.google.com/github/kunalburgul/Customer_Fraudulent/blob/master/json_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import files
uploaded = files.upload()

Saving customersdata.json to customersdata (1).json

In [ ]:
# Importing the Libraries
import pandas as pd
import numpy as np
import json  
from pandas.io.json import json_normalize

In [ ]:
df = pd.read_json('customersdata.json',lines=True,)

In [44]:
df.head()

   fraudulent  ...                                       transactions
0       False  ...  [{'transactionId': 'a9lcj51r', 'orderId': 'vjb...
1        True  ...  [{'transactionId': '5mi94sfw', 'orderId': 'nlg...
2       False  ...  [{'transactionId': 'q3lyvbza', 'orderId': 'yk3...
3       False  ...  [{'transactionId': 'vx4cjc27', 'orderId': 'fbz...
4        True  ...  [{'transactionId': 'q8j3dgni', 'orderId': '56h...

[5 rows x 5 columns]

In [45]:
df_customer = json_normalize(df['customer']) 
df_customer.head(3)

               customerEmail  ...                             customerBillingAddress
0     josephhoward@yahoo.com  ...            5493 Jones Islands\nBrownside, CA 51896
1     evansjeffery@yahoo.com  ...  356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2  andersonwilliam@yahoo.com  ...     8478 Sean Ridges Apt. 441\nDavisberg, PR 72250

[3 rows x 5 columns]

In [ ]:
works_data = json_normalize(data = df['customer'],record_path = 'orders', meta =['orderId', 'orderAmount', 'orderState', 'orderShippingAddress']) 
works_data

In [ ]:

{"paymentMethodId": "wt07xm68b", "paymentMethodRegistrationFailure": true, "paymentMethodType": "card", "paymentMethodProvider": "JCB 16 digit", "paymentMethodIssuer": "Citizens First Banks"}]
[{"transactionId": "a9lcj51r", "orderId": "vjbdvd", "paymentMethodId": "wt07xm68b", "transactionAmount": 18, "transactionFailed": false},
works_data = json_normalize(data = d['programs'], 
                            record_path ='works',  
                            meta =['id', 'orchestra', 'programID', 'season']) 
works_data.head(3)

In [ ]:
df1 = pd.DataFrame.from_dict(df['orders'])

In [63]:
df1

                                                orders
0    [{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...
1    [{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...
2    [{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...
3    [{'orderId': 'fbz9ep', 'orderAmount': 34, 'ord...
4    [{'orderId': '56h7iw', 'orderAmount': 71, 'ord...
..                                                 ...
163  [{'orderId': '6086rd', 'orderAmount': 31, 'ord...
164  [{'orderId': '57yhdo', 'orderAmount': 30, 'ord...
165  [{'orderId': 'vcyuse', 'orderAmount': 35, 'ord...
166  [{'orderId': '9s9ne9', 'orderAmount': 49, 'ord...
167  [{'orderId': 'ow1cih', 'orderAmount': 23, 'ord...

[168 rows x 1 columns]